body {
  margin: 0;
  overflow: hidden;
  background-color: white;
}

li {
  list-style: none;
  padding-right: 2em;
}

.app-container{
  position: relative;
  left: 25%;
}

.title-bar {
  display: inline-flex;
  font-family: 'Montserrat', sans-serif;
  padding-top: 1.5em;
  width: 100%;
  text-align: center;
  background-color: #D32323;
}

.title {
  color: rgb(135, 197, 64);
  text-shadow:
  -2px -2px 0 white,
  2px -2px 0 white,
  -2px 2px 0 white,
  2px 2px 0 white;
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 10vh;
  letter-spacing: .05em;
}

.yelp-logo {
  width: 9vh;
  height: 9vh;
  background: url('https://s3-media1.fl.yelpcdn.com/assets/srv0/styleguide/891ac3707136/assets/img/brand_guidelines/yelp_fullcolor@2x.png') no-repeat scroll left center;
  background-size: contain;
  background-position: top;
}

.about {
  max-width: 673px;
  font-family: 'Monserrat', sans-serif;
  color: rgb(55,55,55);
  font-size: 14px;
  float: left;
  margin: 5vh 15vw;
  position: relative;
  width: 50%;
}

.navbar {
  background-color: #D32323;
  width: 100%;
  box-shadow: 0 2px 2px rgb(55,55,55);
}

.minimized-search {
  font-family: 'Luckiest Guy', sans-serif;
  color: white;
  font-size: 14px;
  vertical-align: middle;
  background-color: #D32323;
  width: 160px;
  height: 15px;
  padding: 10px;
  margin-left: 10px;
  z-index: 1;
}

@media screen and (max-width: 480px) and (orientation: portrait) {

  .yelp-logo {
    position: relative;
    left: 20%;
  }

  .title {
    position: relative;
    left: 20%;
  }

  .title {
    text-shadow:
  		-1px -1px 0 white,
  		1px -1px 0 white,
  		-1px 1px 0 white,
  		1px 1px 0 white;
    font-size: 30px;
  }

  .yelp-logo {
    width: 45px;
    height: 25px;
    background: url('https://s3-media1.fl.yelpcdn.com/assets/srv0/styleguide/891ac3707136/assets/img/brand_guidelines/yelp_fullcolor@2x.png') no-repeat scroll left center;
    background-size: contain;
    background-position: top;
  }

  div.footer-bar {
    height: 5vh;
  }

  .search-and-preload-screen-container {
    display: none;
  }

  .minimized-search:hover .search-and-preload-screen-container {
    display: block;
  }

  .about {
    margin: 25%;
  }

  div.option-card {
    margin: 1.125vh 0 0 0;
    padding: 0;
    width: 100%;
    height: 38.25vh;
  }

  div.business-rating {
    font-size: 4vh;
    width: 7vh;
    height: 5.5vh;
    top: -65%;
    left: 38%;
  }

  div.business-info {
    text-align: right;
    line-height: 1;
    top: 30%;
    font-size: 1.5vh;
  }

  div.business-info p.price {
    font-size: 4vh;
    text-align: right;
  }

  div.business-reviews {
    top: -60%;
    left: 40%;
  }

  img.business-image {
    width: 28vh;
    height: 65%;
    margin: 1%;
  }

  .app-container {
    left: 0;
  }

}

@media screen and (max-width: 750px) {

  .search-and-preload-screen-container {
    display: none;
  }

  .minimized-search:hover .search-and-preload-screen-container {
    display: block;
  }

  /*.app-container {
    left: 0;
  }*/

}

#preload-screen {
  color: rgb(135, 197, 64);
  font-family: 'Monserrat', sans-serif;
  -ms-transform: matrix(1, -0.3, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0);
  transform: matrix(1, -0.3, 0, 1, 0, 0);
  position: absolute;
  z-index: 1;
  bottom: 50%;
  opacity: 0.75;
}

.preload-header {
  font-family: 'Luckiest Guy', sans-serif;
  text-align: center;
  font-size: 32px;
}

.search-and-preload-screen-container {
  width: 170px;
  padding: 5px;
  background-color: #D32323;
  position: absolute;
  z-index: 1;
  left: 0;
  box-shadow: 2px 2px 2px rgb(55,55,55);
  margin-left: 10px;
  margin-top: 10px;
}

.mobile-search-container {
  font-family: 'Luckiest Guy', sans-serif;
  width: 170px;
  padding: 5px;
  background-color: #D32323;
  position: absolute;
  z-index: 1;
  left: 0;
  box-shadow: 2px 2px 2px rgb(55,55,55);
}

.option-card {
  background-color: rgb(245, 234, 146);
  background: -webkit-linear-gradient(left top, rgb(235, 224, 136), rgb(255, 255, 200));
  background: -o-linear-gradient(bottom right, rgb(235, 224, 136), rgb(255, 255, 200));
  background: -moz-linear-gradient(bottom right, rgb(235, 224, 136), rgb(255, 255, 200));
  background: linear-gradient(to bottom right, rgb(235, 224, 136), rgb(255, 255, 200));
  height: 55vh;
  width: 50vh;
  float: left;
  margin: 5vh 10px 0 10px;
  padding: 5px;
  box-shadow: 2px 2px 2px rgb(55,55,55);
  position: relative;
}

.business-title {
  color: rgb(55,55,55);
  font-family: 'Luckiest Guy', sans-serif;
  text-align: center;
  font-size: 3vh;
  margin-top: 2%;
}

.business-info{
  margin: auto;
  height: 25%;
  width: 90%;
  color: rgb(55,55,55);
  font-size: 2.5vh;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 57%;
  left: 5%;
  text-align: center;
}

.business-info > .price {
  font-size: 4vh;
  line-height: 0;
}

.business-info > .walk-time {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 3vh;
  line-height: 0;
}

.business-reviews {
  color: rgb(55,55,55);
  position: relative;
  left: 2%;
  top: -1%;
}

.business-reviews > p {
  float: left;
  font-size: 1.75vh;
  font-family: 'Montserrat', sans-serif;
}

.business-reviews > .review-count {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 3vh;
  float: left;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.5em;
}

.business-rating {
  float:left;
  font-family: 'Luckiest Guy', sans-serif;
  text-align: center;
  margin-left: 5%;
  top: 15px;
  font-size: 6vh;
  width: 9.5vh;
  height: 7vh;
  background-color: white;
  border-radius: 50%;
  border: 3px solid #D32323;
  box-shadow: 2px 2px 2px rgb(55,55,55);
  font-style: italic;
  display: table-cell;
  vertical-align: middle;
  padding-top: 0.5em;
  padding-right: 0.15em;
  position: relative;
  top: -6%;
}

.business-image {
  background: white;
  display: block;
  margin: auto;
  width: 60%;
  height: 40%;
  position: relative;
  /*border-radius: 20px;*/
  border: solid 0.5vh white;
  box-shadow: 1px 1px 2px rgb(55,55,55);
}

.business-image:hover {
  border-color: rgb(135, 197, 64);
  background-color: rgb(135, 197, 64);
  cursor: pointer;
}

.business-image:active {
  box-shadow: none;
  transform: translateY(2px);
}

.yes-button {
  position: absolute;
  width: 50%;
  height: 10%;
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 2.5vh;
  /*text-align: center;*/
  cursor: pointer;
  outline: none;
  color: white;
  background-color: rgb(73,167,76);
  border: none;
  border-radius: 20px;
  bottom: 5%;
  left: 25%;
  box-shadow: 0 6px rgb(55,55,55);
  /*transition: background 0.25s ease-in-out;*/
}

.yes-button:hover {
  background-color: rgb(135, 197, 64);
}

.yes-button:active {
  background-color: rgb(135, 197, 64);
  box-shadow: 0 5px rgb(55,55,55);
  transform: translateY(2px);
}

.yes-button#win {
  background-color: rgb(211, 35, 35);
  font-size: 4vh;
}

.button {
  /*float: left;*/
  height: 19px;
  width: auto;
  font-family: 'Montserrat', sans-serif;
  margin: 2px;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: rgb(73,167,76);
  border: none;
  border-radius: 20px;
  box-shadow: 0 3px rgb(55,55,55);
  /*transition: background 0.25s ease-in-out;*/
}

.button:hover {
  background-color: rgb(135, 197, 64);
}

.button:active {
  background-color: rgb(135, 197, 64);
  box-shadow: 0 1px rgb(55,55,55);
  transform: translateY(1px);
}

.input-divider {
  float: left;
}

.input {
  width: 150px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  margin: 6px 4px;
}

input[type=text]:focus {
    border: 3px solid rgb(135, 197, 64);
}

/*.input#term {
  width: 150px;
}*/

.input#limit {
  width: 50px;
}

.price.input {
  width: 70px;
}

form p{
  padding-left: 5px;
  padding-top: 5px;
  margin: 0;
}

/*.footer {*/
  /*text-align: center;*/
  /*height: 50%;*/
  /*padding-top: 5px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 12px;*/
/*}*/

.yes-button {
  position: absolute;
  width: 50%;
  height: 10%;
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 2.5vh;
  /*text-align: center;*/
  cursor: pointer;
  outline: none;
  color: white;
  background-color: rgb(73,167,76);
  border: none;
  border-radius: 20px;
  bottom: 5%;
  left: 25%;
  box-shadow: 0 6px rgb(55,55,55);
  /*transition: background 0.25s ease-in-out;*/
}

.yes-button:hover {
  background-color: rgb(135, 197, 64);
}

.yes-button:active {
  background-color: rgb(135, 197, 64);
  box-shadow: 0 5px rgb(55,55,55);
  transform: translateY(2px);
}

.yes-button#win {
  background-color: rgb(211, 35, 35);
  font-size: 4vh;
}

.button:hover {
  background-color: rgb(135, 197, 64);
}

.button:active {
  background-color: rgb(135, 197, 64);
  box-shadow: 0 1px rgb(55,55,55);
  transform: translateY(1px);
}

.button#play {
  width: 50px;
  margin: 2px 34%;
}

.footer-bar {
  background-color: #D32323;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 12px;
  color: white;
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;
}
